<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{$site_name} </title>
    <meta name="keywords" content="{$site_seo_keywords}" />
    <meta name="description" content="{$site_seo_description}">
    <tc_include file="Public:head" />
</head>
<body class="body-white">
<div class="wrap">
    <tc_include file="Public:nav" />
    <div id="main-cmf">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <h2 class="title">个人中心</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="breadcrumbs pull-right">
                            <ul>
                                <li>当前位置:</li>
                                <li><a href="__ROOT__/">首页</a></li>
                                <li>查看信息</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
					<div id="center-content" style="padding:20px">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
								<a href="{:U('profile/avatar')}">
									<if condition="empty($avatar)">
										<img src="__TMPL__/Public/images/headicon_128.png" class="headicon"/>
										<else/>
										<img src="{:sp_get_user_avatar_url($avatar)}" class="headicon"/>
									</if>
								</a>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
								<table class="table" style="TABLE-LAYOUT:fixed;WORD-BREAK:break-all">
									<tbody>
									<tr>
										<td style="border:none;width:7em">昵称：</td>
										<td style="border:none;">{$user_nicename|default='未填写'}</td>
									</tr>
									<tr>
										<td style="border:none;width:7em">性别：</td>
										<td style="border:none;"><php>
											$sexs=array("0"=>"保密","1"=>"程序猿","2"=>"程序媛");
										</php>
											{$sexs[$sex]}</td>
									</tr>
									<tr>
										<td style="border:none;width:7em">生日：</td>
										<td style="border:none;">{$birthday|default='未填写'}</td>
									</tr>
									<tr>
										<td style="border:none;width:7em">网址：</td>
										<td style="border:none;">{$user_url|default='未填写'}</td>
									</tr>
									<tr>
										<td style="border:none;width:7em">签名：</td>
										<td style="border:none;">{$signature|default='未填写'}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
    <tc_include file="Public:footer"/>
</div>
<tc_include file="Public:section"/>
<tc_include file="Public:scripts"/>
</body>
</html>