<include file="Public:function"/>
<include file="Public:config"/>
<meta name="author" content="YFCMF">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<link rel="stylesheet" href="{$yf_theme_path}Public/css/bootstrap.css">
<!-- <link rel="stylesheet" href="{$yf_theme_path}Public/css/fonts/font-awesome/css/font-awesome.css"> -->
<link rel="stylesheet" href="{$yf_theme_path}Public/css/fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="{$yf_theme_path}Public/css/animations.css" media="screen">
<link rel="stylesheet" href="{$yf_theme_path}Public/css/superfish.css" media="screen">
<link rel="stylesheet" href="{$yf_theme_path}Public/css/revolution-slider/css/settings.css" media="screen">
<link rel="stylesheet" href="{$yf_theme_path}Public/css/prettyPhoto.css" media="screen">

<link rel="stylesheet" href="{$yf_theme_path}Public/css/style.css">

<link rel="stylesheet" href="{$yf_theme_path}Public/css/colors/blue.css" id="colors">

<link rel="stylesheet" href="{$yf_theme_path}Public/css/theme-responsive.css">

<link href="{$yf_theme_path}Public/css/spectrum.css" rel="stylesheet">

<link rel="shortcut icon" href="{$yf_theme_path}Public/images/favicon.ico">
<link rel="apple-touch-icon" href="{$yf_theme_path}Public/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="{$yf_theme_path}Public/images/apple-touch-icon-72.png">
<link rel="apple-touch-icon" sizes="114x114" href="{$yf_theme_path}Public/images/apple-touch-icon-114.png">
<link rel="apple-touch-icon" sizes="144x144" href="{$yf_theme_path}Public/images/apple-touch-icon-144.png">

<!--[if lt IE 9]>
<script src="__PUBLIC__/others/html5shiv.min.js"></script>
<script src="__PUBLIC__/others/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="{$yf_theme_path}Public/css/fonts/font-awesome/css/font-awesome-ie7.min.css">
<![endif]-->