<if condition="$section eq 1">
   <section id="style-switcher">
      <h2>样式切换<a href="#"><i class="fa fa-cog"></i></a></h2>
      <div>
         <h3>布局</h3>
         <div class="layout-style">
            <select autocomplete="off" id="layout-style">
               <option value="1">宽屏</option>
               <option value="2">盒式</option>
            </select>
         </div>
         <h3>页头颜色</h3>
         <div class="header-color">
            <input type='text' class="header-bg" />
         </div>
         <h3>页尾顶部颜色</h3>
         <div class="header-color">
            <input type='text' class="footer-bg" />
         </div>
         <h3>页尾底部颜色</h3>
         <div class="header-color">
            <input type='text' class="footer-bottom" />
         </div>
         <h3>背景图</h3>
         <ul id="bg" class="colors bg">
            <li><a class="bg1" href="#"></a></li>
            <li><a class="bg2" href="#"></a></li>
            <li><a class="bg3" href="#"></a></li>
            <li><a class="bg4" href="#"></a></li>
            <li><a class="bg5" href="#"></a></li>
            <li><a class="bg6" href="#"></a></li>
            <li><a class="bg7" href="#"></a></li>
            <li><a class="bg8" href="#"></a></li>
            <li><a class="bg9" href="#"></a></li>
            <li><a class="bg10" href="#"></a></li>
         </ul>
      </div>
   </section>
</if>