<!DOCTYPE html>
<html>
<head>
	<title>上海羽冉彩妆</title>
	<meta name="keywords" content="上海形象设计,上海婚庆,上海企业策划,上海包装设计">
	<meta name="description" content="上海羽冉形象摄影工作室是上海致力于形象设计为主导的企业，面向上海所有客户，提供形象设计，化妆品销售，礼仪服务，婚庆服务等服务项目，打造上海诚信形象设计企业。">
	<link href="__PUBLIC__/style/sister/css/bootstrap.css" rel='stylesheet' type='text/css' />

	<script type="text/javascript" src="__PUBLIC__/style/sister/js/jquery-1.11.0.min.js"></script>
	<link href="__PUBLIC__/style/sister/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--webfont-->
	<link href='http://fonts.useso.com/css?family=Oswald:400,700,300|Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
	<!--//webfont-->
	<!--Animation-->
	<script src="__PUBLIC__/style/sister/js/wow.min.js"></script>
	<link href="__PUBLIC__/style/sister/css/animate.css" rel='stylesheet' type='text/css' />
	<script>
		new WOW().init();
	</script>

	<link href="__PUBLIC__/style/default/css/prettyPhoto.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("area[rel^='prettyPhoto']").prettyPhoto();
			$(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
		})
	</script>

</head>
<body>
<include file='Sister:Common:header'/>
<!--start-slider-->
<div class="slider-bg">
	<div class="container">
		<div class="grid-1">
			<div class="col-md-5 left-grid-1 wow bounceInLeft" data-wow-delay="0.4s">
				<h1>欢迎您</h1>
				<h2>来到这里</h2><h3>新起点>></h3>
			</div>
			<div class="col-md-7 right-grid-1 wow bounceInRight" data-wow-delay="0.7s">
				<div class="slider">
					<div class="callbacks_container">
						<ul class="rslides" id="slider">
							<li>
								<img src="__PUBLIC__/style/sister/images/slide1.png" class="img-responsive" alt="" />
							</li>
							<li>
								<img src="__PUBLIC__/style/sister/images/slide2.png" class="img-responsive" alt="" />
							</li>
							<li>
								<img src="__PUBLIC__/style/sister/images/slide3.png" class="img-responsive" alt="" />
							</li>
							<li>
								<img src="__PUBLIC__/style/sister/images/slide1.png" class="img-responsive" alt="" />
							</li>
						</ul>
					</div>
				</div>
			</div>
			</script><script src="__PUBLIC__/style/sister/js/responsiveslides.min.js"></script>
			<script>
				$(function () {
					$("#slider").responsiveSlides({
						auto: true,
						nav: true,
						speed: 500,
						namespace: "callbacks",
						pager: true,
					});
				});
			</script>

		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//end-slider-->
<!--start-services-->
<div id="about" class="service-section">
	<div class="container">
		<div class="serve-grids wow bounceIn animated" data-wow-delay="0.4s">
			<a href="__APP__/list/3">
				<div class="col-md-4 services-section-grid">
					<div class="services-section-grid-head">
						<div class="service-icon">
							<i class="rocket"></i>
						</div>
						<div class="service-icon-heading">
							<h4>彩妆培训</h4>
							<p>羽冉彩妆造型培训，一直致力于对学员的培训、创业就业， 一条龙服务.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</a>
			<a href="__APP__/list/4">
				<div class="col-md-4 services-section-grid">
					<div class="services-section-grid-head">
						<div class="service-icon">
							<i class="plan"></i>
						</div>
						<div class="service-icon-heading">
							<h4>婚纱摄影</h4>
							<p>婚纱摄影是为客户量身打造，服务，品质，销售于一体的婚纱摄影。.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</a>
			<a href="__APP__/list/5">
				<div class="col-md-4 services-section-grid lost">
					<div class="services-section-grid-head">
						<div class="service-icon">
							<i class="book"></i>
						</div>
						<div class="service-icon-heading">
							<h4>新娘跟妆</h4>
							<p>新娘化妆新娘跟妆是现今流行的为新娘化妆的服务，顾名思义就是跟在新娘的左右为其服务，包括化妆，造型，整体搭配.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
		</div>
		</a>
		<a href="__APP__/list/6">
			<div class="serve-grids two  wow bounceIn animated" data-wow-delay="0.4s">
				<div class="col-md-4 services-section-grid act">
					<div class="services-section-grid-head">
						<div class="service-icon">
							<i class="arrow"></i>
						</div>
						<div class="service-icon-heading">
							<h4>个人写真</h4>
							<p>个人写真可以使长相不突出的人变得美丽，获得信心，获得快乐，又能让别人养眼，这种利人利己的是何乐而不为呢！.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
		</a>
		<a href="__APP__/list/7">
			<div class="col-md-4 services-section-grid">
				<div class="services-section-grid-head">
					<div class="service-icon">
						<i class="download"></i>
					</div>
					<div class="service-icon-heading">
						<h4>形象设计</h4>
						<p>帮你找到最合适的服饰色彩、染发色、彩妆色、服饰风格款式，从而解决人们的所有形象问题。.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</a>
		<a href="__APP__/list/8">
			<div class="col-md-4 services-section-grid lost">
				<div class="services-section-grid-head">
					<div class="service-icon">
						<i class="cloud"></i>
					</div>
					<div class="service-icon-heading">
						<h4>婚庆小秘</h4>
						<p>全程的一条龙服务项目，为您解决进入婚礼殿堂的一切问题，成就美满幸福的生活家庭.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
	</div>
</div>
</a>
</div>
<!--//end-services-->
<!--start-mid-section-->
<div class="container">
	<div class="mid-section">
		<div class="mid-top wow fadeInUpBig animated animated" data-wow-delay="0.4s">
			<div class="col-md-10 mid-text">
				<h3>Hi 您好！ 看了我们的服务项目，是否有您需要的服务？</h3>
				<p>贴心的服务是我们想要的，满意的体验是您想要的，我相信我们能够走过这一段美好的婚礼庆典.</p>
			</div>
			<div class="col-md-2 mid-button">
				<a href="__APP__/list/10">联系我 !</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>




<div id="features" class="port-section">
	<div class="container">
		<h2>成功案例</h2>
		<div class="port-grids gallery">

			<foreach name="case" item="v">
				<div class="col-md-3 port-grid wow zoomInRight animated">
					<a href="__PUBLIC__/{$v.news_img}" rel="prettyPhoto[]">
						<img src="__PUBLIC__/{$v.news_img}"  class="img-responsive"/>
					</a>
					<div class="box_type">{$v.column_name}</div>

					<div class="text">
						<a href="portfolio.html"><h3>{$v.news_title}</h3></a>
						<p>{$v.news_scontent}. </p>
					</div>
				</div>
			</foreach>


			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--start-bottom-section-->
<div class="container">
	<div class="bottom-section">
		<div class="bottom-top wow fadeInDownBig animated animated" data-wow-delay="0.4s">
			<div class="col-md-10 bottom-text">
				<h3>了解了我们的案例，是否有您觉得满意的风格类型？.</h3>
				<p>除此之外，让我们的小秘来为你量身定制属于您的风格，独一无二是我们的服务宗旨，您的满意更是我们的目标.<br>
					>>  留下您的联系方式，小秘全程为您服务。</p>
			</div>
			<div class="col-md-2 story"><h4 class="stories"><span><a href="__APP__/list/10"><img src="__PUBLIC__/style/sister/images/mail.png" class="img-responsive" alt="" /></a></span></h4></div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//end-bottom-section-->
<!--/start-blog-section-->
<div id="blog" class="blog-section">
	<div class="container">
		<h3>活动信息</h3>
		<div class="blog-grids">
			<div class="col-md-8 blog-left">



				<volist name="news_acti" id="v">
					<div class="col-md-6 left-img wow bounceInLeft animated" data-wow-delay="0.4s">
						<a href="__APP__/con/{$v.n_id}" target="_blank"><img src="__PUBLIC__{$v.news_img}" class="img-responsive" alt="" /></a>
						<a href="__APP__/con/{$v.n_id}" target="_blank"><h4>{$v.news_title}</h4></a>
						<p>{$v.news_scontent} </p>
						<a class="read" href="__APP__/con/{$v.n_id}" target="_blank">查看更多 <span> </span></a>
					</div>
				</volist>




			</div>
			<div class="col-md-4 testimonal wow bounceInRight animated" data-wow-delay="0.4s">
				<h3>企业动态</h3>

				<volist name="news_3" id="v">
					<div class="test-grid <if condition="$i eq 2">second</if>">
					<a href="__APP__/con/{$v.n_id}" target="_blank">
						<div class="col-md-3 test-img">
							<img src="__PUBLIC__{$v.news_img}" class="img-responsive" alt="" />
						</div>
						<div class="col-md-9 test-text">
							<h4>{$v.news_title}</h4>
							<p>{$v.news_time|date='Y-m-d',###}</p>
							<p>{$v.news_source}</p>
						</div>
						<div class="clearfix"> </div><p class="test"><span> </span>{$v.news_scontent}. </p>
					</a>
			</div><br>
			</volist>




			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
</div>

<include file='Sister:Common:footer'/>

</body>
</html>