<!DOCTYPE html>
<html>
<head>
	<title>{$news_content.news_title}</title>
	<meta name="keywords" content="{$news_content.news_title}">
	<meta name="description" content="{$news_content.news_title}">
	<link href="__PUBLIC__/style/sister/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="__PUBLIC__/style/sister/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="__PUBLIC__/style/sister/css/flexslider.css" type="text/css" media="screen" />
	<script type="text/javascript" src="__PUBLIC__/style/sister/js/jquery-1.11.0.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--webfont-->
	<link href='http://fonts.useso.com/css?family=Oswald:400,700,300|Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
	<!--//webfont-->
	<!--Animation-->
	<script src="__PUBLIC__/style/sister/js/wow.min.js"></script>
	<link href="__PUBLIC__/style/sister/css/animate.css" rel='stylesheet' type='text/css' />
	<script>
		new WOW().init();
	</script>

	<link href="__PUBLIC__/style/default/css/prettyPhoto.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("area[rel^='prettyPhoto']").prettyPhoto();
			$(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
		})
	</script>
</head>
<body>
<include file='Sister:Common:header'/>

<!--start-single-->
<div class="container">
	<div class="content">
		<div class="col-md-9 single-page">

			<div>你当前的位置: <a href="#">首页</a> &nbsp/&nbsp {$column_find.column_name}</div><br>


			<if condition="$column_find['column_type'] eq 5">
				<div class="news_content">
					{$column_find.column_content|htmlspecialchars_decode}
				</div>
				<elseif condition="$column_find['column_type'] eq 3"/>
				<foreach name="news_list" item="v">
					<div class="comments-main wow fadeInLeft animated" data-wow-delay="0.4s">
						<if condition="$v.news_img neq ''">
							<a href="__APP__/con/{$v.n_id}" target="_blank">
								<div class="col-md-3 cmts-main-left" style=" height:100px; overflow:hidden;">
									<img src="__PUBLIC__{$v.news_img}" alt="">
								</div>
							</a>
						</if>
						<div class="col-md-9 cmts-main-right">
							<a href="__APP__/con/{$v.n_id}" target="_blank"><h5>{$v.news_title}</h5></a>
							<p>{$v.news_scontent}</p>
							<div class="cmts">
								<div class="col-md-8 cmnts-left">
									<p>{$v.news_time|date='Y-m-d',###}</p>
								</div>
								<div class="col-md-4 cmnts-right">
									<a href="__APP__/con/{$v.n_id}" target="_blank">查看更多</a>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</foreach>
				<div class="pagination pagination-centered">
					{$page}
				</div>
				<elseif condition="$column_find['column_type'] eq 4"/>

				<div class="port-grids gallery">

					<foreach name="news_list" item="y">
						<div class="col-md-3 port-grid wow zoomInRight animated">
							<a href="__PUBLIC__/{$y.news_img}" rel="prettyPhoto[]">
								<img src="__PUBLIC__/{$y.news_img}"  class="img-responsive"/>
							</a>

							<div class="text">
								<a href="portfolio.html"><h3>{$y.news_title}</h3></a>
								<p>{$y.news_scontent}. </p>
							</div>
						</div>
					</foreach>
					<div class="clearfix"></div>
				</div>




			</if>
			<div class="pagination pagination-centered">
				{$page}
			</div>




		</div>
		<!--start-right-content-->
		<div class="col-md-3 right-content">

			<div class="categories">
				<h4>服务项目</h4>
				<ul class="category">
					<foreach name="right_1" item="v">
						<li><a href="#">{$v.column_name}</a></li>
					</foreach>
				</ul>
			</div>
			<div class="sidebar-bottom">
				<h5>活动动态</h5>
				<ul>
					<foreach name="right_2" item="v">
						<li><a href="#">{$v.column_name}</a></li>
					</foreach>
				</ul>
			</div>

		</div>
		<div class="clearfix"></div>

	</div>
</div>
<!--/start-footer-section-->
<include file='Sister:Common:footer'/>
</body>
</html>