<!DOCTYPE html>
<html>
<head>
	<title>{$news_content.news_title}</title>
	<meta name="keywords" content="{$news_content.news_title}">
	<meta name="description" content="{$news_content.news_title}">
	<link href="__PUBLIC__/style/sister/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link href="__PUBLIC__/style/sister/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Owl Stylesheets -->
	<link rel="stylesheet" href="__PUBLIC__/style/sister/css/flexslider.css" type="text/css" media="screen" />
	<script type="text/javascript" src="__PUBLIC__/style/sister/js/jquery-1.11.0.min.js"></script>
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--webfont-->
	<link href='http://fonts.useso.com/css?family=Oswald:400,700,300|Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
	<!--//webfont-->
	<!--Animation-->
	<script src="__PUBLIC__/style/sister/js/wow.min.js"></script>
	<link href="__PUBLIC__/style/sister/css/animate.css" rel='stylesheet' type='text/css' />
	<script>
		new WOW().init();
	</script>
</head>
<body>
<include file='Sister:Common:header'/>

<!--start-single-->
<div class="container">
	<div class="content">
		<div class="col-md-9 single-page">
			<div class="print-main wow fadeInLeft animated" data-wow-delay="0.4s">
				<h1>{$news_content.news_title}</h1>
				<p class="likes"><small>发布时间：{$news_content.news_time|date='Y-m-d',###}</small>&nbsp;&nbsp;<small>发布来源：{$news_content.news_source}</small></p>

				<div class="ptext" style="line-height:25px;">
					{$news_content.news_content|htmlspecialchars_decode}
				</div>
			</div>

		</div>
		<!--start-right-content-->
		<div class="col-md-3 right-content">

			<div class="categories">
				<h4>服务项目</h4>
				<ul class="category">
					<foreach name="right_1" item="v">
						<li><a href="#">{$v.column_name}</a></li>
					</foreach>
				</ul>
			</div>
			<div class="sidebar-bottom">
				<h5>活动动态</h5>
				<ul>
					<foreach name="right_2" item="v">
						<li><a href="#">{$v.column_name}</a></li>
					</foreach>
				</ul>
			</div>

		</div>
		<div class="clearfix"></div>

	</div>
</div>
<!--/start-footer-section-->
<include file='Sister:Common:footer'/>
</body>
</html>