<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{$site_seo_title} {$site_name}</title>
    <meta name="keywords" content="{$site_seo_keywords}" />
    <meta name="description" content="{$site_seo_description}">
    <include file="Public:head" />
</head>
<body class="page">
<div class="wrap">
    <include file="Public:nav" />
    <div id="main-cmf">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <h2 class="title">{$menu.menu_name}</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="breadcrumbs pull-right">
                            <ul>
                                <li>当前位置:</li>
                                <li><a href="__ROOT__">首页</a></li>
                                <li>{$menu.menu_name}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="clearfix"></div>
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
                        <div class="row">
                            <div class="portfolio">
                                <php>$photo_articles=get_news("cid:$list_id;order:news_time DESC;",1,4);</php>
                                <foreach name="photo_articles['news']" item="vo" key="i">
									<php>
									$imgs=array_filter(explode(",", $vo['news_pic_allurl']));
									</php>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 item">
                                        <div class="gallery portfolio-item">
											<if condition="!empty($vo['news_img'])">
                                                <a href="{$vo['news_img']}" rel="prettyPhoto[a{$i}]">
                                                    <span class="portfolio-item-hover"></span>
													<span class="fullscreen"><i class="fa fa-search"></i></span>
													<img src="{$vo['news_img']}" alt=" "/>
                                                </a>											
                                            <foreach name="imgs" item="voo" key="k">
                                                <a href="{$voo}" rel="prettyPhoto[a{$i}]">
                                                    <img src="{$voo}" alt=" " style="display:none;"/>
                                                </a>
                                            </foreach>											
											<else />
                                            <foreach name="imgs" item="voo" key="k">
                                                <a href="{$voo}" rel="prettyPhoto[a{$i}]">
                                                    <span class="portfolio-item-hover"></span>
													<span class="fullscreen"><i class="fa fa-search"></i></span>
													<img src="{$voo}" alt=" "/ <if condition="$k neq 0">style="display:none;"</if>>
                                                </a>
                                            </foreach>											
											</if>
                                            <div class="portfolio-item-title">
                                                <a href="#">{$vo.news_title}</a>
                                                <p>{$vo.news_scontent}</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </foreach>
                            </div>
                        </div>
                        <div class="pagination-centered">
                            <ul class="pagination">{$photo_articles['page']}</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public:footer"/>
</div>
<include file="Public:scripts"/>
</body>
</html>