<div class="footer">
	<div class="footer-inner">
		<!-- #section:basics/footer -->
		<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder"><a href="http://www.rainfer.cn" target="_ablank">YFCMF</a></span>
							后台管理系统 &copy; 2015-{:date('Y')}
						</span>
		</div>

		<!-- /section:basics/footer -->
	</div>
</div>
<!-- basic scripts -->
<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='../assets/js/jquery.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<!--[if lte IE 8]>
<script src="__PUBLIC__/assets/js/html5shiv.js"></script>
<script src="__PUBLIC__/assets/js/respond.js"></script>
<![endif]-->
<script type="text/javascript">
var admin_ueditor_handle = "{:U('Sys/upload')}";
var admin_ueditor_lang ='zh-cn';
</script>
<script src="__PUBLIC__/assets/js/jquery.min.js"></script>
<script src="__PUBLIC__/assets/js/jquery.form.js"></script>
<script src="__PUBLIC__/assets/js/bootstrap.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
<!-- ace scripts -->
<script src="__PUBLIC__/assets/js/maxlength.js"></script>
<script src="__PUBLIC__/assets/js/ace/ace.js"></script>
<script src="__PUBLIC__/assets/js/ace/ace.sidebar.js"></script>
<script src="__PUBLIC__/assets/js/ace/ace.submenu-hover.js"></script>
<script src="__PUBLIC__/assets/js/ace-extra.js"></script>
<script src="__PUBLIC__/assets/js/admin.js"></script>
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>
<script type="text/javascript">
	try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
</script>
<script type="text/javascript">
	try{ace.settings.check('navbar' , 'fixed')}catch(e){}
</script>
