<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{$site_name} </title>
	<meta name="keywords" content="{$site_seo_keywords}" />
	<meta name="description" content="{$site_seo_description}">
	<include file="Public:head" />
</head>
<body class="body-white">
<div class="wrap">
	<include file="Public:nav" />
	<div id="main-cmf">
		<div class="breadcrumb-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
						<h2 class="title">个人中心</h2>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
						<div class="breadcrumbs pull-right">
							<ul>
								<li>当前位置:</li>
								<li><a href="__ROOT__/">首页</a></li>
								<li><a href="{:U('Center/index')}">个人中心</a></li>
								<li>我的收藏</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<include file="Public:usernav"/>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<div id="center-content" style="padding:20px">
							<div class="row">
								<table class="table table-bordered table-striped table-hover">
									<thead>
									<tr>
										<th>#</th>
										<th>标题</th>
										<th>描述</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody>
									<foreach name="favorites" item="vo">
										<tr>
											<td>{$vo.id}</td>
											<td>{$vo.news_title}</td>
											<td>{$vo.news_scontent|msubstr=0,20}</td>
											<td><a href="{:U('News/index',array('id'=>$vo['t_id']))}" target="_blank">查看</a> | <a class="js-delete-btn" href="{:U('Center/delete_favorite',array('id'=>$vo['id'],'p'=>I('p',1)))}">删除</a></td>
										</tr>
									</foreach>
                                    <tr>
                                        <td colspan="12" align="right">{$page}</td>
                                    </tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Public:footer"/>
</div>
<include file="Public:scripts"/>
</body>
</html>