{extend name="public/base" /}
{block name="main-content"}
	<div class="page-content">

		<div class="row maintop">
			<div class="col-xs-5 col-sm-2  margintop5">
				<a href="{:url('model_add')}">
					<button class="btn btn-sm btn-danger">
						<i class="ace-icon fa fa-bolt bigger-110"></i>
						添加模型
					</button>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div>
					<table class="table table-striped table-bordered table-hover" id="dynamic-table">
						<thead>
						<tr>
							<th class="hidden-xs">ID</th>
							<th>模型标识</th>
							<th>模型标题</th>
							<th>数据引擎</th>
							<th class="hidden-sm hidden-xs">添加时间</th>
							<th class="hidden-xs">状态</th>
							<th style="border-right:#CCC solid 1px;">操作</th>
						</tr>
						</thead>

						<tbody>
							{foreach name="models" item="v"}
							<tr>
								<td height="28" >{$v.model_id}</td>
								<td>{$v.model_name}</td>
								<td>{$v.model_title}</td>
								<td>{$v.model_engine}</td>
								<td class="hidden-sm hidden-xs">{$v.create_time|date='Y-m-d H:i:s',###}</td>
								<td>
									{if condition='$v.model_status eq 1'}
										<a class="red open-btn" href="{:url('model_state')}" data-id="{$v.model_id}" title="已开启">
											<div id="zt{$v.model_id}"><button class="btn btn-minier btn-yellow">开启</button></div>
										</a>
										{else/}
										<a class="red open-btn" href="{:url('model_state')}" data-id="{$v.model_id}" title="已禁用">
											<div id="zt{$v.model_id}"><button class="btn btn-minier btn-danger">禁用</button></div>
										</a>
									{/if}														</td>
								<td>
									<div class="hidden-sm hidden-xs action-buttons">
										<a class="green memberedit-btn"  href="{:url('model_edit')}" data-id="{$v.model_id}" title="修改">
											<i class="ace-icon fa fa-pencil bigger-130"></i>
										</a>
										<a class="red confirm-rst-url-btn" href="{:url('model_del',array('model_id'=>$v['model_id']))}" data-info="你确定要删除吗？" title="删除">
											<i class="ace-icon fa fa-trash-o bigger-130"></i>
										</a>
									</div>
									<div class="hidden-md hidden-lg">
										<div class="inline position-relative">
											<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
												<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
											</button>
											<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
												<li>
													<a href="{:url('model_edit')}" data-id="{$v.model_id}" class="tooltip-success memberedit-btn" data-rel="tooltip" title="" data-original-title="修改">
																<span class="green">
																	<i class="ace-icon fa fa-pencil bigger-120"></i>
																</span>
													</a>
												</li>

												<li>
													<a href="{:url('model_del',array('model_id'=>$v['model_id']))}"  class="tooltip-error confirm-rst-url-btn" data-info="你确定要删除吗？" data-rel="tooltip" title="" data-original-title="删除">
																<span class="red">
																	<i class="ace-icon fa fa-trash-o bigger-120"></i>
																</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</td>
							</tr>
							{/foreach}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div><!-- /.page-content -->
{/block}
