<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{$site_seo_title} {$site_name}</title>
    <meta name="keywords" content="{$site_seo_keywords}" />
    <meta name="description" content="{$site_seo_description}">
    <tc_include file="Public:head" />
</head>
<body class="about page">
<div class="wrap">
    <tc_include file="Public:nav" />
    <div id="main-cmf">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <h2 class="title">关于我们</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="breadcrumbs pull-right">
                            <ul>
                                <li>当前位置:</li>
                                <li><a href="__ROOT__/">首页</a></li>
                                <li>关于我们</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <article>
                            <php>$smeta=json_decode($smeta,true);</php>
                            <h3 class="title">团队介绍</h3>
                            <div class="post-content">
                                <div class="img-content">
                                    <img src="{:sp_get_asset_upload_path($smeta['thumb'])}" alt="" style="max-width:350px">
                                </div>
                                <p>{$post_content}</p>
                            </div>
                        </article>
                    </div>
                    <div class="skills col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <h3 class="title">我们的优势</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">深厚的技术力量 90%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">丰富的行业经验 85%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">高效的作业流程 90%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">完善的服务体系 90%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">众多的成功案例 75%</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h3 class="title">工作流程</h3>
                        <div class="widget tabs animate_afc">
                            <div id="horizontal-tabs">
                                <ul class="tabs">
                                    <li id="tab1" class="current">协商设计</li>
                                    <li id="tab2">开发阶段</li>
                                    <li id="tab3">测试验收</li>
                                </ul>
                                <div class="contents">
                                    <div class="tabscontent" id="content1" style="display: block;">
                                        <p>
                                            1 双方协商网站建设内容，修改补充，达成共识 </br>
                                            2 我方制定《网站建设方案》 </br>
                                            3 双方确定建站细节及价格</br>
                                            4 双方签订《网站建设协议》</br>
                                            5 客户支付预付款(30%)</br>
                                            6 客户根据第一阶段调研表提供网站相关第一步内容资料
                                            完成样稿设计</br>
                                        </p>
                                    </div>
                                    <div class="tabscontent" id="content2">
                                        <p>
                                            1 我方根据《网站建设方案》完成网站样稿 </br>
                                            2 客户支付预付款(40%) </br>
                                            3 首页、频道首页、基本页、网站架构图 </br>
                                            4 客户审核确认样稿 </br>
                                            5 为客户注册域名</br>
                                            6 同时进行第二阶段调研	</br>
                                        </p>
                                    </div>
                                    <div class="tabscontent" id="content3">
                                        <p>
                                            1 我方完成全部网站制作 </br>
                                            2 我方完成网站测试，双方协商完善 </br>
                                            3 网站本地测试通过，客户确认 </br>
                                            4 客户验收网站，网站开通 </br>
                                            5 客户签发《网站建设验收合格确认书》 </br>
                                            6 客户支付余款，网站开通 	</br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="testimonials widget">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="testimonials-title">
                                        <h3 class="title">客户评价</h3>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div id="testimonials-carousel" class="testimonials-carousel slide animate_afc">
                                    <div class="carousel-inner">
                                        <php>
                                            $tag="cid:".$positive_cid.";field:post_title,post_excerpt,post_source,tid,smeta,term_id;order:listorder asc;limit:8;";
                                            $positive=sp_sql_posts($tag);
                                        </php>
                                        <foreach name="positive" item="vo" key="k">
                                            <php>$smeta=json_decode($vo['smeta'],true);</php>
                                            <div <if condition="$k eq 0">class="item active"<else />class="item"</if>>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="testimonial item">
                                                    <p>{$vo.post_excerpt}</p>
                                                    <div class="testimonials-arrow">
                                                    </div>
                                                    <div class="author">
                                                        <div class="testimonial-image "><img alt="" src="{:sp_get_asset_upload_path($smeta['thumb'])}"></div>
                                                        <div class="testimonial-author-info">
                                                            <a href="{:leuu('article/index',array('id'=>$vo['tid'],'cid'=>$vo['term_id']))}"><span class="color">{$vo.post_title}</span></a>{$vo.post_source}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    </foreach>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
<!--             <div class="divider"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title">我们的团队</h3>
                    <div class="row team">
                        <php>
                            $tag="cid:".$our_team_cid.";field:post_title,post_excerpt,post_content,tid,smeta,term_id;order:listorder asc;limit:4;";
                            $team=sp_sql_posts($tag);
                        </php>
                        <foreach name="team" item="vo" key="k">
                            <php>$smeta=json_decode($vo['smeta'],true);</php>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d{$k+1}">
                                <div class="team-member">
                                    <div class="team-member-holder">
                                        <div class="team-member-image">
                                            <img alt="" src="{:sp_get_asset_upload_path($smeta['thumb'])}">
                                        </div>
                                        <div class="team-member-meta">
                                            <h4 class="team-member-name">{$vo.post_title}</h4>
                                            <div class="team-member-role">{$vo.post_excerpt}</div>
                                            <div class="team-member-description">
                                                <p>{$vo.post_content}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </foreach>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<tc_include file="Public:footer"/>
</div>
<tc_include file="Public:section"/>
<tc_include file="Public:scripts"/>
</body>
</html>