<php>
$home_slides_id="portal_index";//首页幻灯片分类标识
$portal_index_lastnews="2";//首页最近新闻分类cid
$section=1;//是否显示颜色调整插件
$positive_cid="5";//客户好评分类cid
$lastportfolios_cid="3";//最近案例分类cid
$services_cid="4";//服务项目cid
$client_cid="5";//客户分类cid
$portal_hot_articles="1,2,6";//右侧边栏热门文章分类cid,多个cid中间英文逗号分隔
$portal_last_post="2,3,4";//右侧边栏最近发布文章分类cid,多个cid中间英文逗号分隔
//$tmpl=sp_get_theme_path();

$default_home_slides=array(
	array(
		"slide_name"=>"ThinkCMFX2.1.0发布啦！",
		"slide_pic"=>$tmpl."Public/images/demo/1.jpg",
		"slide_url"=>"",
	),
	array(
		"slide_name"=>"ThinkCMFX2.1.0发布啦！",
		"slide_pic"=>$tmpl."Public/images/demo/2.jpg",
		"slide_url"=>"",
	),
	array(
		"slide_name"=>"ThinkCMFX2.1.0发布啦！",
		"slide_pic"=>$tmpl."Public/images/demo/3.jpg",
		"slide_url"=>"",
	),
);
</php>