<div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="blog-entry-meta-tags">
    {:hook('sider',array('action'=>'sider'))}
    </div>
    <form action="{:U('portal/search/index')}" method="post">
        <div class="widget search-form">
            <div class="input-group">
                <input name="keyword" type="text" value="Search..." onfocus="if(this.value=='Search...')this.value='';" onblur="if(this.value=='')this.value='Search...';" class="search-input form-control">
                              <span class="input-group-btn">
                              <button type="submit" class="subscribe-btn btn"><i class="fa fa-search"></i></button>
                              </span>
            </div>
        </div>
    </form>
    <div class="widget tabs">
        <div id="horizontal-tabs">
            <ul class="tabs">
                <li id="tab1" class="current">热门文章</li>
                <li id="tab2">最近发布</li>
                <li id="tab3">最新讨论</li>
            </ul>
            <div class="contents">
                <div class="tabscontent" id="content1" style="display: block;">
                    <ul class="posts">
                        <php>
                            $tag="cid:".$portal_hot_articles.";field:post_title,post_date,post_excerpt,tid,term_id,smeta;order:post_hits desc;limit:5;";
                            $hot_articles=sp_sql_posts($tag);
                        </php><foreach name="hot_articles" item="vo">				<php>
                        $smeta=json_decode($vo['smeta'], true);
                    </php>
                        <li>
                            <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="{:sp_get_asset_upload_path($smeta['thumb'])}"></a>
                            <p><a href="{:leuu('article/index',array('id'=>$vo['tid'],'cid'=>$vo['term_id']))}">{$vo.post_title|msubstr=0,32}</a></p>
                            <span class="color">{$vo.post_date|strtotime|date="yy-m-d",###}</span>
                        </li></foreach>
                    </ul>
                </div>
                <div class="tabscontent" id="content2">
                    <ul class="posts">
                        <php>
                            $tag="cid:".$portal_last_post.";field:post_title,post_date,post_excerpt,tid,term_id,smeta;order:listorder asc;limit:5;";
                            $last_post=sp_sql_posts($tag);
                        </php><foreach name="hot_articles" item="vo">				<php>
                        $smeta=json_decode($vo['smeta'], true);
                    </php>
                        <li>
                            <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="{:sp_get_asset_upload_path($smeta['thumb'])}"></a>
                            <p><a href="{:leuu('article/index',array('id'=>$vo['tid'],'cid'=>$vo['term_id']))}">{$vo.post_title|msubstr=0,32}</a></p>
                            <span class="color">{$vo.post_date|strtotime|date="yy-m-d",###}</span>
                        </li></foreach>
                    </ul>
                </div>
                <div class="tabscontent" id="content3">
                    <ul class="posts">
                        <php>$last_comments=sp_get_comments("field:*;limit:0,5;order:createtime desc;");</php>
                        <foreach name="last_comments" item="vo">
                            <li>
                                <i class="fa fa-comment"></i>
                                <a href="{:U('user/index/index',array('id'=>$vo['uid']))}">{$vo.full_name}:</a>
                                <p>{$vo.content}</p>
                                <a href="__ROOT__/{$vo.url}#comment{$vo.id}">查看原文</a>
                                <span class="comment-time">{:date('m月d日  H:i',strtotime($vo['createtime']))}</span>
                            </li></foreach>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="widget ads">
        <h3 class="title">广告赞助</h3>
        <div class="ads-img row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img class="img-thumbnail" alt="" src="__TMPL__Public/images/ads-small.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img class="img-thumbnail" alt="" src="__TMPL__Public/images/ads-small.jpg">
            </div>
        </div>
        <div class="ads-img row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img class="img-thumbnail" alt="" src="__TMPL__Public/images/ads-small.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img class="img-thumbnail" alt="" src="__TMPL__Public/images/ads-small.jpg">
            </div>
        </div>
    </div>
</div>
                     