<div class="widget category">
	<ul class="category-list slide">
		<a class="list-group-item" href="{:U('user/profile/edit')}"> 修改资料</a>
		<a class="list-group-item" href="{:U('user/profile/password')}"> 修改密码</a>
		<a class="list-group-item" href="{:U('user/profile/avatar')}"> 编辑头像</a>
		<a class="list-group-item" href="{:U('user/profile/bang')}"> 绑定账号</a>
		<a class="list-group-item" href="{:U('user/favorite/index')}"> 我的收藏</a>
		<a class="list-group-item" href="{:U('comment/comment/index')}"> 我的评论</a>
	</ul>
</div>