<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

    <meta name="viewport" content="width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;" />
    <link rel="icon" href="__PUBLIC__/style/default/images/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="__PUBLIC__/style/default/images/favicon.png" type="image/png" />
    <title>{$news_content.news_title}</title>
    <meta name="keywords" content="{$news_content.news_title}">
    <meta name="description" content="{$news_content.news_title}">

    <link href="__PUBLIC__/style/default/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/style/default/css/style.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/style/default/css/prettyPhoto.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.quicksand.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/superfish.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/hoverIntent.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.hoverdir.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/smoothscroll.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/main.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/ajax-mail.js"></script>
    <script type="text/javascript" src="__PUBLIC__/style/default/js/accordion.settings.js"></script>
    <!--Le Google Web Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,500' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<include file='Default:Common:header'/>
<!--breadcrumbs -->
<div class="container breadcrumbs">
    <h1>{$news_content.column_name}</h1>
    <div>您当前位置: <a href="{:U('index')}">首页</a> &nbsp/&nbsp {$news_content.column_name}</div>
</div>
<!--container-->
<section id="container">
    <div class="container">
        <div class="row">
            <section id="page-sidebar" class="alignleft span9">
                <h1>{$news_content.news_title}</h1>
                <hr />
                <article class="blog-post">
                    <style>
                        .news_content p{ font-size:14px; line-height:30px;}
                    </style>
                    <div class="news_content">
                        {$news_content.news_content|htmlspecialchars_decode}
                    </div>

                </article>

            </section>
            <!--sidebar-->
            <aside id="sidebar" class="alignright span3">

                <section class="post-widget">
                    <div class="title-divider">
                        <div class="divider-arrow"></div>
                        <h4>热门图文</h4>
                    </div>
                    <ul class="clearfix">


                        <foreach name="news_pichot" item="t">
                            <li>
                                <a href="{:U('news_content',array('n_id'=>$t['n_id']))}" target="_blank"><img src="__PUBLIC__/{$t.news_img}" alt="photo" width="60" height="60" /></a>
                                <a href="{:U('news_content',array('n_id'=>$t['n_id']))}" target="_blank">{$t.news_title}</a>
                                <p>阅读：{$t.news_hits}</p>
                                <div class="clear"></div>
                            </li>
                        </foreach>


                    </ul>
                </section>

            </aside>
        </div>
    </div>
</section>

<!--footer-->
<include file='Default:Common:footer'/>

</body>
</html>