
<!--footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h3>业务范围</h3>
                <ul class="menu-widget">
                    <li><a>礼仪策划</a></li>
                    <li><a>媒体推广</a></li>
                    <li><a>展会服务</a></li>
                    <li><a>庆典用品批零</a></li>
                    <li><a>广告业务</a></li>
                </ul>

            </div>
            <div class="span3">
                <h3>友情链接</h3>
                <!--   <ul class="flickr clearfix"></ul>  -->
                <ul class="menu-widget">
                    <li><a href="http://www.baidu.com" target="_blank" class="follow-widget">百度</a></li>
                </ul>
            </div>
            <div class="span3">
                <h3>在线留言</h3>

                <form id="contact" class="form-horizontal" method="post" action="{:U('plug_sug_runadd')}"/>
                <div class="control-group">
                    <label class="control-label" for="inputName">标题</label>

                    <div class="controls">
                        <input type="text" id="plug_sug_title" placeholder="标题" name="plug_sug_title" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">电话</label>

                    <div class="controls">
                        <input type="text" id="plug_sug_email" placeholder="电话" name="plug_sug_email" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputMessage"></label>

                    <div class="controls">
                        <textarea rows="3" id="plug_sug_content" name="plug_sug_content"></textarea>
                    </div>
                </div>

                <button class="btn btn-info" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    提交留言
                </button>

                </form>
            </div>
            <div class="span3">
                <h3>联系方式</h3>
                <address>
                    {$sys.site_co_name}<br />
                    {$sys.site_address}<br />
                    <i class="myicon-phone"></i>{$sys.site_tel}<br />
                    <i class="myicon-mail"></i>{$sys.site_admin_email}<br />
                    <i class="myicon-mail"></i><img  style="CURSOR: pointer" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid={$sys.site_qq}&o=净悦庆典&q=7', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  border="0" SRC=http://wpa.qq.com/pa?p=1:{$sys.site_qq}:1 alt="点击这里给我发消息">
                </address>

            </div>
        </div>
    </div>
</footer>

<!--footer menu-->
<section id="footer-menu">
    <div class="container">
        <div class="row">
            <p class="span6 pull-left">Copyright &copy; 2016.Company name All rights reserved.<br>
                版权所有：{$sys.site_co_name}&nbsp;&nbsp;备案号：{$sys.site_icp}&nbsp;&nbsp;</p>
            <p class="offset6 span2 pull-right"></span></p>

        </div>
    </div>
</section>


<script type="text/javascript" src="__PUBLIC__/assets/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<script>
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide"
        });
    });
</script>
<script>

    $(function(){
        $('#contact').ajaxForm({
            beforeSubmit: checkForm,
            success: complete,
            dataType: 'json'
        });

        function checkForm(){
            if( '' == $("#plug_sug_title").val()){
                layer.alert('留言标题不能为空', {icon: 5}, function(index){
                    layer.close(index);
                    $('#plug_sug_title').focus();
                });
                return false;
            }

            if( '' == $.trim($('#plug_sug_email').val())){
                layer.alert('电话不能为空', {icon: 5}, function(index){
                    layer.close(index);
                    $('#plug_sug_email').focus();
                });
                return false;
            }

            if( '' == $.trim($('#plug_sug_content').val())){
                layer.alert('留言内容不能为空', {icon: 5}, function(index){
                    layer.close(index);
                    $('#plug_sug_content').focus();
                });
                return false;
            }
        }

        function complete(data){
            if(data.status==1){
                layer.alert(data.info, {icon: 6}, function(index){
                    layer.close(index);
                    window.location.href=data.url;
                });
            }else{
                layer.alert(data.info, {icon: 5}, function(index){
                    layer.close(index);
                    window.location.href=data.url;
                });
                return false;
            }
        }

    });
</script>