
<header id="header">
    <div id="top-menu">
        <span class="span3" style="line-height:30px;">欢迎进入厦门庆典指定官网</span>
    </div>
    <div class="container">
        <div class="row" >
            <div class="logo" >
                <a href="/">
				<if condition="$sys.site_logo neq ''">
				<img src="__UPLOAD__{$sys.site_logo}" alt=""/>				
				<else />
				<img src="__PUBLIC__/style/sister/images/logo.png" alt=""/>				
				</if>
				</a>
            </div>

        </div>
    </div>
</header>
<section id="main-menu">
    <nav class="container" id="menu">
        <ul>
            <li><a href="/" class="current">网站首页</a></li>
            <foreach name="arr" item="v">
                <li>

                    <if condition="$v.column_type eq 1">
                        <a style="cursor:pointer">
                            <elseif condition="$v.column_type eq 2"/>
                            <a href="{$v.column_address}">
                                <else/>

                    </if>

                    {$v.column_name}
                    </a>
                    <ul>
                        <foreach name="v.sub" item="k">
                            <li><a href="__APP__/list/{$k.c_id}">{$k.column_name}</a></li>
                            <!--<li class="last"><a href="./services.html">Our Services</a></li>-->
                        </foreach>
                    </ul>
                </li>
            </foreach>
        </ul>
    </nav>
</section>